{% extends "common/templates/base.html" %}

{% block head %}
<title>RSS聚合 | Micolog部落</title>
{% endblock %}

{% block content %}
	<div id="main">
		<div id="content">
			<form action="add" method="post" enctype="multipart/form-data">
				<table>
					<tr>
						<td>Feed地址<span style="color:red">*</span>：</td>
						<td><input id="feed_url" name="feed_url" type="text" value="{{ feed.feed_url }}" /></td>
					</tr>
					<tr>
						<td colspan="2"><input id="submit" name="submit" type="submit" value="提交" /></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
{% endblock %}