<h2 id="contentdesc">每周<span>推荐</span> »</h2>
{% for entry in hotentries %}
<div class="post" id="hotpost-{{ entry.key.id }}">
	<div class="posttop">
		<div class="postmetatop">
			<div class="thumbup"><a id="hotthumbup-{{ entry.key.id }}" class="thumba"></a><span>[{{ entry.rate_count}}票]</span></div>
			<!-- <div class="icon"><img src="{{ entry.feed.link }}/favicon.ico" alt="icon" /></div> -->
			<div class="categs"><a href="#" onclick="toggleHotItemByID({{ entry.key.id }});return false;">{{ entry.title }}</a> &mdash; {{ entry.feed.title }}</div>
			<div class="date"><span>{{ entry.date|date:"Y.m.d H:i" }}</span></div>
		</div>
	</div>

	<div class="postmetabottom" id="hotentrycontent-{{ entry.key.id }}" style="display:none;">
		<div class="postcontent">
		{{ entry.content|safe|truncatewords_html:"20" }}
		</div>
		<div class="readmore"><span><a target="_blank" href="{{ entry.link }}">Read more</a></span></div>
	</div>
</div>
{% endfor %}

<h2 id="contentdesc">最新<span>文章</span> »</h2>
{% for entry in entries %}
<div class="post" id="post-{{ entry.key.id }}">
	<div class="posttop">
		<div class="postmetatop">
			<div class="thumbup"><a id="thumbup-{{ entry.key.id }}" class="thumba"></a><span>[{{ entry.rate_count}}票]</span></div>
			<!-- <div class="icon"><img src="{{ entry.feed.link }}/favicon.ico" alt="icon" /></div> -->
			<div class="categs"><a href="#" onclick="toggleItemByID({{ entry.key.id }});return false;">{{ entry.title }}</a> &mdash; {{ entry.feed.title }}</div>
			<div class="date"><span>{{ entry.date|date:"Y.m.d H:i" }}</span></div>
		</div>
	</div>

	<div class="postmetabottom" id="entrycontent-{{ entry.key.id }}" style="display:none;">
		<div class="postcontent">
		{{ entry.content|safe|truncatewords_html:"20" }}
		</div>
		<div class="readmore"><span><a target="_blank" href="{{ entry.link }}">Read more</a></span></div>
	</div>
</div><!-- /post -->
{% endfor %}

<script type="text/javascript">
	function toggleItemByID(id){
		var fid = 'entrycontent-' + id
		var fld = $('#' + fid);
		if(fld){
			fld.slideToggle(100);
			$('.postmetabottom').each(function(){
				if($(this).attr("id") != fid){
					$(this).slideUp(100);
				}
			});
		}
	}
	
	function toggleHotItemByID(id){
		var fid = 'hotentrycontent-' + id
		var fld = $('#' + fid);
		if(fld){
			fld.slideToggle(100);
			$('.postmetabottom').each(function(){
				if($(this).attr("id") != fid){
					$(this).slideUp(100);
				}
			});
		}
	}

	$(document).ready(function($){
		var ratethumb;
		$('.thumba').each(function(i){
			$(this).click(function(){
				ratethumb = $(this);
				var id = $(this).attr('id');
				var entryid;
				if(id.substring(0, 3) == "hot"){
					entryid = id.substring(11, id.length);
				}
				else{
					entryid = id.substring(8, id.length);
				}
				$.post(
					'/rssa/rate',
					{ entryid: entryid },
					function(data, textStatus){
						//alert(data + textStatus);
						if(data=="True"){
							//alert($(this).attr("id"));
							ratethumb.addClass("thumbupclicked");
							alert("成功");
						}
						else{
							alert("您已经投过票了");
						}
					}
				);
			});
		});
	});
</script>