{% for entry in entries %}
<div class="post" id="post-{{ entry.key.id }}">
	<div class="posttop">
		<div class="postmetatop">
			<div class="categs"><a href="#" onclick="toggleItemByID({{ entry.key.id }});return false;">{{ entry.title }}</a> &mdash; {{ entry.feed.title }}</div>
			<div class="date"><span>{{ entry.date|date:"Y.m.d H:i" }}</span></div>
		</div>
	</div>

	<div class="postmetabottom" id="entrycontent-{{ entry.key.id }}" style="display:none;">
		<div class="postcontent">
		{{ entry.content|safe|truncatewords_html:"20" }}
		</div>
		<div class="readmore"><span><a target="_blank" href="{{ entry.link }}">Read more</a></span></div>
	</div>
</div><!-- /post -->
{% endfor %}

<script type="text/javascript">
	function toggleItemByID(id){
		var fld = $('#entrycontent-' + id);
		if(fld){
			fld.slideToggle();
		}
	}
</script>