{% extends "common/templates/base.html" %}

{% block head %}
	<title>博客聚合 | Micolog部落</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endblock %}

{% block pagetitle %}
<a href="/rssa">RSS聚合</a>
{% endblock %}

{% block headerbanner %}
<p>大家好！感谢浏览Micolog部落——RSS聚合，欢迎到处看看，点击<a href="/blogshow/add">这里添加</a>你的博客。有问题可以在<a target="_blank" href="http://qhm123.appspot.com/2010/11/9/micolog-tribe-a-micologer-place.html">这里留言</a>。</p>
{% endblock %}

{% block content %}
hello rssa.
{% endblock %}