{% extends "base.html" %}

{% block head %}
<title>博客秀 | Micolog部落</title>
{% endblock %}

{% block content %}
	<div id="main">
		<div id="content">
			<form action="add" method="post" enctype="multipart/form-data">
				<table>
					<tr>
						<td>名称*：</td>
						<td><input id="name" name="name" type="text" value="{{ blog.name }}" /></td>
					</tr>
					<tr>
						<td>类别*：</td>
						<td><input id="category" name="category" type="text" value="{{ blog.category }}" /></td>
					</tr>
					<tr>
						<td>链接*：</td>
						<td><input id="link" name="link" type="text" value="{{ blog.link }}" /></td>
					</tr>
					<!-- 
					<tr>
						<td>标签：</td>
						<td><input id="tags" name="tags" type="text" value="{{ blog.tags }}" /></td>
					</tr>
					-->
					<tr>
						<td>图片*：</td>
						<td><input id="file" name="file" type="file" /></td>
					</tr>
					<tr>
						<td>当前截图：</td>
						<td><img id="curimg" src="/blogshow/img/{{ blog.key.id }}" alt="当前截图" width="190px" height="130px" /></td>
					</tr>
					<tr>
						<td colspan="2"><input id="submit" name="submit" type="submit" value="提交" /></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
{% endblock %}