{% for blog in blogs %}
	<li>
		<div id="blog-{{ blog.key.id }}" class="showrate" title="{{ blog.rate }}"></div><div id="rate_count-{{ blog.key.id }}">{{ blog.rate_count }}人投票</div>
		<a target="_blank" href="{{ blog.link }}">
			<img src="/blogshow/img/{{ blog.key.id }}" alt="{{ blog.name }}" height="130" width="190" />
			<span>{{ blog.name }}</span>
		</a>
	</li>
{% endfor %}

<script type="text/javascript">
	$(document).ready(function($){
		$('.showrate').each(function(){
			if($(this).attr("innerHTML").length > 0)
				return;
			$(this).raty({
			  start: $(this).attr("title"),
			  showHalf: true,
			  number: 5,
			  path: '/static/',
			  onClick: function(score){
			  	var id = $(this).attr("id");
			  	var blogid = $(this).attr("id").substring(5, id.length)
			    //alert('id ' + blogid + 'score: ' + score);
			    $.post(
			    	"/blogshow/rate",
			    	{ blogid: blogid, score: score },
			    	function(date){
			    	  if(date.success){
						  $("#rate_count-"+date.blogid).html(date.rate_count+"人投票");
						  $.fn.raty.start(date.rate, '#blog-'+date.blogid);
						  alert("投票成功");
					  }
					  else{
					  	$.fn.raty.start(date.rate, '#blog-'+date.blogid);
					  	alert("您已经透过票啦！");
					  }
					}
			    );
			  }
			});
		});
	});
</script>