<div id="catnav">
	<ul id="nav">
		<li class="cat-item">
			<a id="c1" href="#" title="happy">
				<div><img src="/static/images/happy.jpg" alt="happy"/></div>
				<div><span>快乐[{{ happy_count }}]</span></div>
			</a>
		</li>
		<li id="c2" class="cat-item">
			<a href="#" title="knowledge">
				<div><img src="/static/images/knowledge.jpg" alt="knowledge"/></div>
				<div><span>技术[{{ tech_count }}]</span></div>
			</a>
		</li>
		<li id="c3" class="cat-item">
			<a href="#" title="workhard">
				<div><img src="/static/images/workhard.jpg" alt="workhard"/></div>
				<div><span>学习[{{ study_count }}]</span></div>
			</a>
		</li>
		<li id="c4" class="cat-item">
			<a href="#" title="warm">
				<div><img src="/static/images/warm.jpg" alt="warm"/></div>
				<div><span>生活[{{ life_count }}]</span></div>
			</a>
		</li>
	</ul>
</div>

<div id="main">
	<div id="content">
		<ul id="showcontent">
			<!-- bloglist load content -->
		</ul>
	</div>
</div>
<script type="text/javascript" src="/static/jquery.raty.min.js"></script>
<script type="text/javascript">
	$(document).ready(function($){
	    $('#c1').click(function(){
				$('#showcontent').load('{% url blogshow.views.bloglist %}?cateid=' + 1);
	    });
	    $('#c2').click(function(){
	            $('#showcontent').load('{% url blogshow.views.bloglist %}?cateid=' + 2);
	    });
	    $('#c3').click(function(){
	            $('#showcontent').load('{% url blogshow.views.bloglist %}?cateid=' + 3);
	    });
	    $('#c4').click(function(){
	            $('#showcontent').load('{% url blogshow.views.bloglist %}?cateid=' + 4);
	    });
	    
	    $('.showrate').each(function(i){this.raty({
		  //scoreName:'score'+$(this).id[4:],
		  number:5,
		  onClick: function(score) {
		    alert('score: ' + score);
		  },
		  path:'/static/'
		});
		});
	});
</script>