<div class="post">
	<div class="postcontent">
		<p>这是一个很多人的想法，也是我很乐意做的一件事情，把Micolog的人聚集在一起，于是有了“Micolog部落”这个想法。</p>
		<p>Micolog部落是一个Micologer们的地方，是展示自我、互相联系、共同进步、共同欢乐的地方。</p>
		<p>我本想将Micolog部落做到足够好然后再放出来，但我愈加思索愈加感觉到我的错误，这是一个大家的地方，也许我自己认为的足够好其实是足够烂。</p>
		<p>所以，我希望每个人加入到“Micolog部落”的建设中来，无论是一行代码还是一个建议，都是对Micologer的支持，对自己的支持。</p>
		
		<p><span style="color:red;">Gmail是通行证，Micolog博客是虚拟身份。</span></p>
		<ul>
		<li>关于添加/修改：每一个Gmail账号是Micolog部落的唯一识别，你在Micolog部落的一切行为都通过Gmail验证，每一个Gmail可以添加一个Micolog博客，博客是你在这里的虚拟身份，展示你的一切信息。当你通过Gmail添加一个Micolog博客时，你的博客信息被绑定到你的Gmail账号上，你可以再次点击添加/修改连接来更改你的博客信息。</li>
		<li>关于头像：头像使用的是通过Gmail邮箱注册的<a target="http://en.gravatar.com/" href="http://en.gravatar.com/">http://en.gravatar.com/</a>头像。如果你不了解全球头像标识服务，可以点击前面链接。</li>
		<li>关于博客秀：博客秀是你展现自己博客风格和分类的场所，推荐尽量使用博客截图作为展示图片。</li>
		<li>关于RSS聚合：RSS聚合时将所有添加到Micolog部落的所有人的Feed订阅聚合起来，按照时间进行排序，默认会显示文章摘要。每2个小时自动更新一次。</li>
		</ul>
		
		<p>如果您有任何问题：可以在这里留言<a target="_blank" href="http://qhm123.appspot.com/2010/11/9/micolog-tribe-a-micologer-place.html">http://qhm123.appspot.com/2010/11/9/micolog-tribe-a-micologer-place.html</a>，我会尽快回复。谢谢您对Micolog的支持。</p>
	</div>
</div>