{% extends "common/templates/base.html" %}

{% block head %}
	<title>Micolog部落</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endblock %}

{% block pagetitle %}
欢迎
{% endblock %}

{% block headerbanner %}
<p>大家好！感谢浏览Micolog部落，欢迎到处看看，点击<a href="/blogshow/add">这里添加</a>你的博客。有问题可以在<a target="_blank" href="http://qhm123.appspot.com/2010/11/9/micolog-tribe-a-micologer-place.html">这里留言</a>。</p>
{% endblock %}

{% block content %}
	<div id="catnav">
		<ul id="nav">
			<li class="cat-item">
				<a id="c1" href="/blogshow" title="happy">
					博客秀
				</a>
			</li>
			<li id="c2" class="cat-item">
				<a href="#" title="knowledge">
					RSS聚合（敬请期待）
				</a>
			</li>
		</ul>
	</div>
	
	<div id="main">
		<h2 id="contentdesc">Micolog <span>全家福</span> »</h2>
		<div id="footer">
			<ul id="avatar-wall">
				{% for people in peoples %}
					<li><a target="_blank" href="{{ people.blog_url }}" title=""><img src="{{ people.avatar_url }}" alt="avatar" /></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}