/*******************************************************************
 * Header
 */
button {
	font-family: helvetica;
	color: #ffffff;
	font-size: 1em;
	border: 1px solid #333333;
	background: url("/static/images/button_background.png") repeat-x scroll
		left top;
	height: 25px;
}

button.action_button {
	border: 1px solid #be8211;
	background: url("/static/images/action_item_button_background.png")
		repeat-x scroll left top;
}

button.action_button:hover {
	background:
		url("/static/images/action_item_button_background_hover.png") repeat-x
		scroll left top;
}

button:hover {
	background: url("/static/images/button_background_hover.png") repeat-x
		scroll left top;
}

#chat_input{
	width: 99%;
}

/*******************************************************************
 * Home content
 */
#group {
	height: 100%;
}

#groups {
	margin: auto;
}

#groups *.group_container {
	vertical-align: top;
	width: 30%;
	float: left;
	padding: 10px 2% 10px 1%;
}

*.group {
	font-size: 0.9em;
	border-bottom: 1px solid #cccccc;
	padding: 10px 0px 10px 10px;
}

*.group:hover {
	background: #edf8fb;
}

*.group button {
	font-size: 1em;
	height: 23px;
	border: 1px solid #cccccc;
	font-weight: bold;
	background: url("/static/images/splash/button_bg_large.png") repeat-x
		scroll left top;
}

*.group button:hover {
	background: url("/static/images/splash/button_bg_large_hover.png")
		repeat-x scroll left top;
}

*.main_banner_container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 5px;
	width: 95%;
}

*.main_banner {
	padding: 12px 15px 5px 15px;
	background: #fbf9e2;
	/*border-bottom: 1px solid #EBAE7F;    */
	border: 1px solid #f3e56b;
}

*.main_banner button {
	background: #ce4f00;
	border: 2px solid #f6e800;
	padding: 10px 15px 10px 15px;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	color: #ffffff;
	height: 42px;
}

*.main_banner li {
	list-style-type: disc;
	margin-left: 25px;
}

*.action_item_list div {
	margin-bottom: 15px;
}

*.action_item_list li div span {
	font-size: 0.8em;
}

*.home_content_button {
	font-weight: bold;
	font-size: 1.5em;
	height: 40px;
	background: url("/static/images/action_item_button_background.png")
		repeat-x scroll left top;
	border: 1px solid #be8211;
	width: 200px;
}

*.home_content_button:hover {
	background:
		url("/static/images/action_item_button_background_hover.png") repeat-x
		scroll left top;
}

#home_content_add_contact_list {
	padding: 10px 10px 10px 10px;
	border: 1px solid #bbbbbb;
	background: #99ccff;
	float: left;
	text-align: center;
}

#home_content_container {
	float: left;
	margin-right: 20px;
	width: 61%;
}

*.action_item_container {
	margin-bottom: 10px;
	margin-top: 5px;
	float: left;
	width: 36%;
}

#home_content_contact_add {
	
}

#home_content_contact_add input {
	height: 18px;
}

#home_content_contact_add button {
	font-weight: bold;
	width: 90px;
	height: 23px;
	margin-top: 2px;
}

#home_content_contact_add *.error {
	color: red;
	font-weight: bold;
	font-size: 0.8em;
}

#home_content_contact_add td div {
	margin-bottom: 5px;
}

#home_content_contact_add img {
	vertical-align: middle;
}

*.green_banner {
	padding: 10px 10px 10px 10px;
	/*background: #dfefce;*/
	font-weight: bold;
	/*border-left: 1px solid #61a832;
    border-right: 1px solid #61a832;
    border-bottom:2px solid #61a832;*/
}

*.green_banner_header {
	padding: 5px 5px 5px 5px;
	background: #d5f2c3;
	border-bottom: 1px solid #61a832;
	/*background: #ffffcc;    
    border-bottom:1px solid #EBAE7F;  */
}

*.blue_banner_header {
	padding: 5px 5px 5px 5px;
	background: #cde6fe;
	border-bottom: 1px solid #3693dd;
}

*.group:hover { /*background: #fbf9e2*/
	/*background:#edf8fb;*/
	
}

*.group div {
	color: #000000;
}

*.group a {
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	color: #045fba;
}

*.group a:hover {
	text-decoration: underline;
}

*.group *.desc {
	
}

*.group *.details {
	color: #000000;
	font-size: 0.9em;
}

*.mini_menu {
	color: #cccccc;
	vertical-align: middle;
}

*.mini_menu a {
	color: #045fba;
	font-weight: bold;
	font-size: 0.9em;
}

*.mini_menu a:hover {
	text-decoration: underline;
	color: #045fba;
}

*.mini_menu a.action_link {
	color: #ce4f00;
	font-weight: bold;
	font-size: 0.9em;
}

*.mini_menu a.action_link:hover {
	text-decoration: underline;
}

/*******************************************************************
 * Group content
 */

#group_description {
	font-size: 0.9em;
	margin-top: 3px;
	width: 50%;
	float: left;
}

#group_menu {
	float: right;
	font-size: 1em;
	font-weight: bold;
}

#group_menu li {
	vertical-align: middle;
	float: left;
	margin-left: 10px;
}

#group_menu li div {
	margin-top: 3px;
}

#group_menu li div a,#group_menu li div a:visited {
	font-weight: normal;
}

#group_menu li div a:hover {
	text-decoration: underline;
}

#group_menu li button {
	font-size: 1em;
	font-weight: bold;
}

#group_chat_container {
	float: left;
}

*.group_chat_container_default {
	width: 80%;
}

*.group_chat_container_maxed {
	width: 100%;
}

#group_members {
	/*border: 1px solid #dddddd;*/
	background: url(http://localhost:8080/static/images/blacktrans.png);
	width: 20%;
	float: right;
	overflow: auto;
	font-size: 0.8em;
}

#group_members button {
	font-size: 1em;
	font-weight: bold;
}

#group_members_table {
	width: 100%;
	margin: 0;
}

*.group_member {
	margin: 0px 0px 0px 5px;
}

*.group_member a {
	text-decoration: none;
}

*.group_member a:hover {
	text-decoration: underline;
}

*.group_member_img {
	margin: 0px 0px 0px 5px;
}

*.group_member_img_cell {
	width: 22px;
}

/*******************************************************************
 * Chat transcript content
 */
#chat_transcript { /*border: 1px solid #dddddd;*/
	margin-bottom: 10px;
	font-size: .9em;
	padding: 0px 5px 0px 5px;
	overflow: auto;
}

*.chat_transcript_info {
	font-size: .8em;
	color: #888888;
	font-weight: normal;
}

*.chat_transcript_name {
	margin-top: 10px;
	font-weight: bold;
}

*.chat_transcript_msg {
	padding-left: 19px;
	color: #333333;
	/*border-bottom: 1px dotted #cccccc;*/
	padding-bottom: 10px;
}

*.chat_transcript_msg_delete {
	font-size: .8em;
	color: #888888;
	font-weight: normal;
}

*.chat_transcript_msg_error {
	padding-left: 19px;
	color: red;
	/*border-bottom: 1px dotted #cccccc;*/
	padding-bottom: 10px;
}

*.small_channel_img {
	width: 15px;
	height: 15px;
}