<h2 id="contentdesc">每周<span>推荐</span> »</h2>
{% for entry in hotentries %}
<div class="post" id="hotpost-{{ entry.key.id }}">
	<div class="posttop">
		<div class="postmetatop">
			<div class="thumbup"><a id="hotthumbup-{{ entry.key.id }}" class="thumba"></a><span>[{{ entry.rate_count}}票]</span></div>
			<!-- <div class="icon"><img src="{{ entry.feed.link }}/favicon.ico" alt="icon" /></div> -->
			<div class="categs"><a href="#" onclick="toggleHotItemByID({{ entry.key.id }});return false;">{{ entry.title }}</a> &mdash; {{ entry.feed.title }}</div>
			<div class="date"><span>{{ entry.date|date:"Y.m.d H:i" }}</span></div>
		</div>
	</div>

	<div class="postmetabottom" id="hotentrycontent-{{ entry.key.id }}" style="display:none;">
		<div class="readmore"><span><a target="_blank" href="{{ entry.link }}">Read more</a></span></div>
		<div class="postcontent">
		{{ entry.content|safe|truncatewords_html:"20" }}
		</div>
	</div>
</div>
{% endfor %}

<h2 id="contentdesc">最新<span>文章</span> »
	<a target="_blank" href="/rssa/feed">[订阅|RSS]</a>
	<!-- Feedsky FEED 订阅统计发布代码开始 -->
	<a href="http://feed.feedsky.com/micolog-tribe" title="Micolog部落" target="_blank"><img src="http://www.feedsky.com/feed/micolog-tribe/sc/orange.gif" style="border:0" alt="" /></a>
	<!-- Feedsky FEED 订阅统计发布代码结束 -->
</h2>
{% for entry in entries %}
<div class="post" id="post-{{ entry.key.id }}">
	<div class="posttop">
		<div class="postmetatop">
			<div class="thumbup"><a id="thumbup-{{ entry.key.id }}" class="thumba"></a><span>[{{ entry.rate_count}}票]</span></div>
			<!-- <div class="icon"><img src="{{ entry.feed.link }}/favicon.ico" alt="icon" /></div> -->
			<div class="categs"><a href="#" onclick="toggleItemByID({{ entry.key.id }});return false;">{{ entry.title }}</a> &mdash; {{ entry.feed.title }}</div>
			<div class="date"><span>{{ entry.date|date:"Y.m.d H:i" }}</span></div>
		</div>
	</div>

	<div class="postmetabottom" id="entrycontent-{{ entry.key.id }}" style="display:none;">
		<div class="readmore"><span><a target="_blank" href="{{ entry.link }}">Read more</a></span></div>
		<div class="postcontent">
		{{ entry.content|safe|truncatewords_html:"20" }}
		</div>
	</div>
</div><!-- /post -->
{% endfor %}

<script type="text/javascript" src="/static/js/rssa.js"></script>