<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="Keywords" content="micolog,gae,tribe,group" />
	<meta name="Description" content="micolog部落" />
	<link type="image/x-icon" rel="icon" href="/static/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="/static/blogshow.css" />
	{% block head %}{% endblock %}
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<a href="/"><img src="/static/images/genericlogo.png" alt="micolog logo" /></a>
			<h1><a href="/">Micolog部落</a></h1>
			<div id="desc">{% block pagetitle %}{% endblock %}</div>
		</div><!-- /logo -->
		
		<div id="headerbanner">
			{% block headerbanner %}{% endblock %}
		</div>
	</div>
	
	{% block content %}{% endblock %}
	
	<div id="footer"></div>
	
	<div id="credits">
		<div id="creditsleft">Copyright &copy; 2010 <a href="http://qhm123.appspot.com" target="_blank">鸣</a>, Powered By GAE, All Right Reserved.</div>
		<div id="creditsright"><a href="#top">&#91; 返回顶部 &#93;</a></div>
	
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-19590743-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</div><!-- /credits -->	
</div>
</body>