<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="Keywords" content="micolog,gae,tribe,group" />
	<meta name="Description" content="micolog部落" />
	<link type="image/x-icon" rel="icon" href="/static/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="/static/blogshow.css" />
	<!--[if lt IE 7]>
	<link href="/static/ie6.css" rel="stylesheet" type="text/css" media="screen" />
	<script type="text/javascript">var clear="/static/images/clear.gif"; //path to clear.gif</script>
	<script type="text/javascript" src="/static/unitpngfix.js"></script>
	<![endif]-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/jquery.lazyload.mini.js"></script>
	<script type="text/javascript">
		$(function(){$("img").lazyload({effect: "fadeIn",});});
	</script>
	{% block head %}{% endblock %}
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<a href="/"><img src="/static/micologlogo.png" alt="micolog logo" /></a>
			<h1><a href="/">Micolog部落</a></h1>
			<div id="desc">Micologer的聚集地</div>
		</div><!-- /logo -->
		
		<div id="headerbanner">
			{% block headerbanner %}{% endblock %}
		</div>
	</div>
	
	<div id="catnav">
		<ul id="nav">
			<li class="cat-item">
				<a id="cat_blogshow" href="#" title="博客秀">
					博客秀
				</a>
			</li>
			<li class="cat-item">
				<a id="cat_rssa" href="#" title="RSS聚合">
					RSS聚合
				</a>
			</li>
			<!-- too slow
			<li class="cat-item">
				<a id="cat_chat" href="#" title="RSS聚合">
					GTalk群聊
				</a>
			</li>
			<li class="cat-item">
				<a id="cat_about" href="#" title="部落手册">
					部落手册
				</a>
			</li>
			 -->
			<li class="cat-item">
				<a id="cat_bbs" target="_blank" href="http://xm.appspot.com/" title="Micolog论坛">
					Micolog论坛
				</a>
			</li>
			<li class="cat-item">
				<a id="cat_officalweb" target="_blank" href="http://micolog.xuming.net" title="Micolog官网">
					Micolog官网
				</a>
			</li>
		</ul>
	</div>
	
	<h2 id="slogon">Micolog部落，期待你的<a href="/blogshow/add">加入</a>。</h2>
		
	<div id="main">
		<div id="spinner"></div>
		<div id="content">
{% block content %}{% endblock %}
		</div>
	</div>
	

	
	<div id="footer">
		<ul id="avatar-wall">
			{% for people in peoples %}
				<li><a target="_blank" href="{{ people.blog_url }}" title=""><img src="{{ people.avatar_url }}" alt="avatar" /></a></li>
			{% endfor %}
		</ul>
	</div>
	
	<div id="credits">
		<div id="creditsleft">Copyright &copy; 2010 <a href="http://qhm123.appspot.com" target="_blank">鸣</a>, Powered By GAE, All Right Reserved.</div>
		<div id="creditsright"><a href="#top">&#91; 返回顶部 &#93;</a></div>
	
		<script type="text/javascript">	
			$(document).ready(function($){
			    $('#cat_blogshow').click(function(){
					$('#content').load('{% url blogshow.views.index %}');
			    });
			    $('#cat_rssa').click(function(){
					$('#content').load('{% url rssa.views.index %}');
			    });
			    $('#cat_chat').click(function(){
					$('#content').load('{% url welcome.views.gtalk %}');
			    });
			    $('#cat_about').click(function(){
					$('#content').load('{% url welcome.views.about %}');
			    });
			});
			
			$(document).ajaxStart(function(){
				$('#spinner').fadeIn();
			}).ajaxStop(function(){			
				$('#spinner').fadeOut();
			});			
		</script>
	
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-19590743-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</div><!-- /credits -->
</div>
</body>
</html>