{% extends "common/templates/base.html" %}

{% load filters %}

{% block head %}
<script src='/static/js/channel.js'></script>
<title>成员聊天 - Micolog部落</title>
{% endblock %}

{% block content %}
<div id="group">
  <div id="group_chat_container" class="group_chat_container_default" >
    <div id="chat_transcript" >
	{% for message in msgs %}
	  <div class="chat_transcript_msg">
	    <span id="msg_content_35">
	      <pre>({{ message.time|timezone:8|date:"H:i:s" }}){{ message.msg }}</pre>
	    </span>
	  </div>
	{% endfor %}
    </div>
    <div id="chat_input_container">
      <table id="chat_input_table">
        <tbody>
          <tr>
            <td style="width: 100%;">
              <textarea id="chat_input" onkeydown="if(event.ctrlKey&&event.keyCode==13){document.getElementById('chat_input_button').click();return false};"></textarea>
            </td>
            <td style="padding-left: 10px;">
              <input type="button" id="chat_input_button" value="发送" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="/static/js/chat.js"></script>
{% endblock %}